@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#global {
    display: flex;
    align-items: center;
    justify-content: center;
}

#input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    gap: 0.5rem;
    width: 80%;
}

input, button {
    width: 35vw;
    border: none;
}

#submit{
    background-color: #034d92;
    border-radius: 0.3rem;
    height: 8vh;
    margin: 1rem;
}

input {
    height: 5vh;
    border-radius: 0.2rem;
    padding-left: 1rem;
}

#msg {
    display: flex;
    align-items: center;
    justify-content: center;
}

#list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    height: 75vh;
    overflow-y: auto;
}

#infos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 60vw;
    height: auto;
}

#top {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    border-radius: 0.2rem;
    padding: 1rem;
    width: 55%;
    gap: 1rem;
    text-align: start;
}

#card-img {
    width: 30%;
    height: auto;
}

#social {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.icons {
    width: 3vw;
    margin: 0.5rem;
}

#global-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    background-color: #e6e6e6;
    border-radius: 0.2rem;
    padding: 1rem;
    margin-right: 2rem;
    gap: 0.5rem;
    margin: 1rem;
}

#infos-detail {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    height: auto;
}

#social-detail {
    margin: 1rem;
    display: flex;
    text-decoration: none;
}

#card-img-detail {
    width: 40%;
    border-radius: 0.2rem;
}

.actions-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: auto;
    height: auto;
}

#global-list {
    background-color: #e6e6e6;
    border-radius: 0.2rem;
    width: 100%;
    height: auto;
    padding: 1rem;
}

.hidden {
    display: none;
}

.error {
    color: #f00;
}

.success {
    color: #00ff00;
}